In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s4e10/sample_submission.csv
/kaggle/input/playground-series-s4e10/train.csv
/kaggle/input/playground-series-s4e10/test.csv

## Loading datasets

In [2]:
train_df = pd.read_csv('/kaggle/input/playground-series-s4e10/train.csv')
test_df = pd.read_csv('/kaggle/input/playground-series-s4e10/test.csv')
display(train_df)
display(test_df)

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5.0,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0.0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7.0,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2.0,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2.0,VENTURE,B,15000,11.11,0.20,N,5,0

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,58645,23,69000,RENT,3.0,HOMEIMPROVEMENT,F,25000,15.76,0.36,N,2
1,58646,26,96000,MORTGAGE,6.0,PERSONAL,C,10000,12.68,0.10,Y,4
2,58647,26,30000,RENT,5.0,VENTURE,E,4000,17.19,0.13,Y,2
3,58648,33,50000,RENT,4.0,DEBTCONSOLIDATION,A,7000,8.90,0.14,N,7
4,58649,26,102000,MORTGAGE,8.0,HOMEIMPROVEMENT,D,15000,16.32,0.15,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
39093,97738,22,31200,MORTGAGE,2.0,DEBTCONSOLIDATION,B,3000,10.37,0.10,N,4
39094,97739,22,48000,MORTGAGE,6.0,EDUCATION,A,7000,6.03,0.15,N,3
39095,97740,51,60000,MORTGAGE,0.0,PERSONAL,A,15000,7.51,0.25,N,25
39096,97741,22,36000,MORTGAGE,4.0,PERSONAL,D,14000,15.62,0.39,Y,4
39097,97742,31,45000,RENT,6.0,DEBTCONSOLIDATION,B,19450,9.91,0.44,N,9

## Looking for missing values

In [3]:
missing_train = train_df.isnull().sum()
missing_test = test_df.isnull().sum()

missing_value_cols1 = missing_train[missing_train>0]
missing_value_cols2 = missing_test[missing_test>0]
missing_value_df = pd.DataFrame(missing_value_cols1)
missing_value_df['test_df'] = missing_value_cols2
missing_value_df

Empty DataFrame
Columns: [0, test_df]
Index: []

## Looking for duplicate values

In [4]:
train_df.duplicated().sum()

0

## EDA

In [5]:
train_df.describe()

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,loan_status
count,58645.000000,58645.000000,5.864500e+04,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000
mean,29322.000000,27.550857,6.404617e+04,4.701015,9217.556518,10.677874,0.159238,5.813556,0.142382
std,16929.497605,6.033216,3.793111e+04,3.959784,5563.807384,3.034697,0.091692,4.029196,0.349445
min,0.000000,20.000000,4.200000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,0.000000
25%,14661.000000,23.000000,4.200000e+04,2.000000,5000.000000,7.880000,0.090000,3.000000,0.000000
50%,29322.000000,26.000000,5.800000e+04,4.000000,8000.000000,10.750000,0.140000,4.000000,0.000000
75%,43983.000000,30.000000,7.560000e+04,7.000000,12000.000000,12.990000,0.210000,8.000000,0.000000
max,58644.000000,123.000000,1.900000e+06,123.000000,35000.000000,23.220000,0.830000,30.000000,1.000000

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB

In [7]:
train_df.columns

Index(['id', 'person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_default_on_file',
       'cb_person_cred_hist_length', 'loan_status'],
      dtype='object')

In [8]:
for col in train_df[['person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_default_on_file',
       'cb_person_cred_hist_length']]:
    print("column : ",col,"\nunique values : ",train_df[col].unique(),"\n")

column :  person_age
unique values :  [ 37  22  29  30  27  25  21  35  31  26  28  32  23  24  33  44  38  43
  46  48  36  41  34  40  47  42  51  50  39  56  60  49  58  54  45  59
  65  53  55  57  52  62  64  84  70  66  73  69  61  20  80  76 123]

column :  person_income
unique values :  [ 35000  56000  28800 ...  44955  90730 124600]

column :  person_home_ownership
unique values :  ['RENT' 'OWN' 'MORTGAGE' 'OTHER']

column :  person_emp_length
unique values :  [  0.   6.   8.  14.   2.   9.  11.   5.   1.  13.   3.  10.  12.   4.
   7.  21.  17.  16.  18.  19.  15.  20.  23.  24.  26.  22.  25.  41.
  27.  28.  35.  29.  30.  31. 123.  39.]

column :  loan_intent
unique values :  ['EDUCATION' 'MEDICAL' 'PERSONAL' 'VENTURE' 'DEBTCONSOLIDATION'
 'HOMEIMPROVEMENT']

column :  loan_grade
unique values :  ['B' 'C' 'A' 'D' 'E' 'F' 'G']

column :  loan_amnt
unique values :  [ 6000  4000 12000  9000  2500  5000 15000 12800 10000 16000  7300 17000
  5950  4800  3200  7000  3000  3500 14000  2800  2000  5500 14400 15900
 12500  8000  2400 20000 14125  9600 17200  4200  7200 18000 23500  3550
  9800 24000 19500  6500 17500  4500 19750 28000 25000 18250  5200  8400
 18650  3600  7800  5400 13000  1850 10800 15250  2250  1500  8700 11000
 16800 14500  6200  8500  6800  6400 35000  8800 30000  1000  9250 16100
  1800  3300  3650  7500 13750  6600  6250  6325  5600 17400  9200 13250
 21000  6625  1450  9500  3250  6725  4900  6450 11500  3100  1200 10400
 19200 14750  1400  5250  5275  5100  8200  7750 10500  9050  3350  2700
  9975 11200 24250  4600  7700  5300 15500 12250  3800 18500 10625 10750
 16500  5800 12375 15600  5175 19800  7125 18400 15200  5025 11400  7775
  1700 22000  8875  1375 13200 11250  2100 21600  6700 10200 12600 16750
 19000  5825 31000 13500 13350 11650 16700  8050  7550  5700 10700  8300
 19925  4275 17325  1925 20800  4700 20500  4775 20400  1900 14800  6475
 17600  6300  4750  3575 11225 26375  3400  7275 14625 24100 12700 13800
 11700  4400 15150 19600  2200  2300 12750  4100  6650  6100  1350 23000
 12900 11800 19400  7600 13225 14475  8475  8600  3700 11050  3900  1675
 18225  1600 15700 10900  4475  8150  1075  1875 23475  2225 12225 10250
  6750  4300 10600  7875  2450  4350  7400  2850  2600  8575  6025  7475
 12150 27000  2875 23450  9925 12350  3625 14850  6225 12300  5150  2525
 11300  7925 14100 13600 23800  4725  4375  1750  7100 13650 21125 14700
  5125  2575 18200  8250 29800  8125 21200  7250 25475 12200 17850  3325
  8650 11100 12100 17800  2550  8525 14550 10100  1950  5375  2750  5575
  6900 15350  6350 12400  3850  7425  2950  4650  6825  2425  9450 14150
  8100  3425 21500  9875  1050 16875 14200 13475 23200 24500 14900  9150
 15775  6425  9350 16400  4975  6125 10650 17625  8450 28250 13575  3825
  6550  4075 11525  8550  1275  1300  9900 22500  7850  1825 18125  3175
  9100 12325 10175  1807 17450 27250 25600  2925 15175 14575  5875 22800
  2325 11750 14600  4850 18300 10425  7375 10050  9400 21250  5625  7975
 10950 11425  3275 13450  8850 14300 16120  3675 16200 26800  7150  9300
 11600 20675 17900  9175  9700 24750 14350  4250 15800  5775 10675 23600
  2050 15400 16250  3150 17375  5975 10525  2375 13400  4125  5550  7175
 18900  1325  9475 17650  7350 11450 26000 19550  1250  4025  5075  7050
 12475 23100  6375 23400 33000 23750 10300 14650  9950 12275  8750  8325
 10150 24200  5675  8275  2150 19425  9125 24625 25850  6575  6775 12950
 12450  1775 27050 22400  8675   700 17250 10375 18325 23700 11350  7225
  8900  8225  5900 17350  3525 12875  2725 27800  6950 10450 18150  4925
 15025 21400  4450 15850 20050 13125  1525 15300 18600 22650 11025  6150
 18800 15650  6850  4425  1475  4950  7625  5425  3950 18850  4050  6925
  7075 24400 24150  5650 13900  5750 15075  4325  1225 22600  3750 11975
  6075  2125  5050 12650  5225 24375 21850 20900  7675  2275 29100 15625
 16450 27575 17475  8825 10325 11325 10850  4525  3075   900  3450  9750
 32000 17925 13850 21825  6975 14250 18750 23975 13700 21100  5450 30750
  5325  2650  3125 17700  9275 22750 10975  7450  5475 12925 15450   500
 13275  3375  3925 14675 13100 19125  3775  3725 12775 11575  2350 27500
 11625 13075  9725  4550  1150]

column :  loan_int_rate
unique values :  [11.49 13.35  8.9  11.11  6.92  8.94  6.54 13.49 14.84 12.98 10.59 11.12
 10.75 11.14 13.57 14.11  6.62 12.73  7.88  8.59  7.68  6.99 16.49  9.62
  8.   15.96  7.66 18.64  7.9  11.71 15.58  7.14 12.18  7.49  9.25 14.27
 12.53 11.86 12.21 10.99  9.91 16.4  10.36 14.26  9.32  5.42 17.06 15.23
  7.51  9.38 14.72 14.09 13.22 13.11 10.95  7.74  7.29 10.37  5.99 10.62
 15.62 11.99 15.2  11.58 11.48  6.91 16.32 10.25 12.68 10.65 14.96 12.61
  5.79 13.06 12.99 10.74 15.31 12.69 11.36  6.03 10.46 16.29  9.07 13.48
  9.99 11.34 12.42 16.07 14.22  6.17  6.39 13.79 11.26 13.99 13.93 11.83
 13.23 14.91 10.39 17.46 11.46 13.61 15.99 15.05  9.88 15.7  15.33  8.49
 19.69 11.89  9.76 14.59 12.87  8.88 10.   13.85  6.76 10.83  9.45 17.39
 14.46 13.98 11.22 12.29 14.35 15.65 10.38 13.47 13.72  7.4  12.84 10.71
 13.16 16.7  11.28 19.04 14.42 13.92 15.95 13.24 13.04 13.12 14.65  9.63
 12.23  7.05 11.66 12.67 14.54 17.04  9.7   8.32 15.57 15.21 10.78 14.7
  8.07 17.56  9.96 15.37 12.09 14.83 13.8  11.97 18.25 14.74 19.03 14.61
 18.39  8.38 16.77 17.58 14.17 18.78 16.89 18.62 10.08 20.69 16.08 21.36
 15.28  7.37 16.   11.78 15.27 20.89 10.2  16.35 17.49 13.67 12.41 12.91
 13.43 17.19 17.88 17.14 16.45  9.51 16.82 10.28 11.41 13.36 12.86 17.27
 17.99  7.43 19.79  7.42 20.62 19.29 17.93 11.03 18.43  8.63 12.8  18.84
 10.91 12.22 22.06 14.79 14.82  9.59 18.07 12.17 10.96 18.79 21.21 20.3
 15.68 13.55  9.64 14.5  10.51  7.75 17.51 19.91 10.01 13.15 14.38 19.13
 15.59 14.93 12.92 20.16 11.54 15.76  9.67 16.02 17.26  8.7  21.74 22.11
 14.12  9.01 12.04 18.3  19.16 16.69 10.33 13.87 16.63 15.13 12.49 17.74
 14.18 19.42 17.43  7.12 17.03 13.3  11.91 14.3  15.25 14.51  9.33 13.17
 21.64 18.21 15.38 15.29 15.88 18.67 14.75 16.95 15.06  6.   18.09 14.88
 13.75 19.47 16.11 20.11 20.48  7.91  9.83  9.2  10.14 19.41 12.62 11.72
 11.59 14.25 12.54 15.45  8.1  17.9   7.71 15.01 13.27 12.71 15.11 14.98
 15.75 12.72 15.26  6.42 15.79  6.05 20.17 15.07  8.45 17.44 18.17 20.25
  7.94 10.54 17.15  9.13 12.36 13.42 14.71 18.53 11.09 10.64 17.54 19.82
 11.62 20.86 20.8  13.84 20.09  6.96  9.22 19.66 20.52 16.15 14.49 23.06
 18.72 12.12 16.71 14.69  7.46 10.79  5.43 15.83 10.68  7.25 23.22 12.96
  9.17 10.03]

column :  loan_percent_income
unique values :  [0.17  0.07  0.21  0.1   0.2   0.27  0.13  0.14  0.3   0.12  0.23  0.05
 0.25  0.16  0.11  0.09  0.19  0.06  0.08  0.04  0.22  0.24  0.03  0.02
 0.26  0.15  0.29  0.35  0.18  0.28  0.4   0.44  0.5   0.01  0.34  0.33
 0.32  0.31  0.37  0.39  0.36  0.48  0.47  0.42  0.38  0.43  0.51  0.46
 0.41  0.49  0.45  0.52  0.    0.56  0.53  0.384 0.55  0.83  0.54  0.59
 0.63 ]

column :  cb_person_default_on_file
unique values :  ['N' 'Y']

column :  cb_person_cred_hist_length
unique values :  [14  2 10  5  3 11  6  9  7  8  4 17 13 15 12 16 23 24 20 21 28 30 19 26
 27 18 29 25 22]

## Feature selection and splitting

In [9]:
from sklearn.model_selection import train_test_split
X = train_df.drop(['id','loan_status'], axis=1)
y = train_df['loan_status']
X_train, X_valid, y_train, y_valid = train_test_split(X, y, stratify=y, test_size=0.2, random_state =365)

## Preprocessing

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import RobustScaler
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector

rs = RobustScaler()
ohe = OneHotEncoder(sparse_output=False)

ct = make_column_transformer(
    (rs, make_column_selector(dtype_exclude = object)),
    (ohe, make_column_selector(dtype_include = object)),
    remainder='passthrough')
ct.fit_transform(X_train)

array([[ 1.57142857, -0.45454545, -0.8       , ...,  0.        ,
         1.        ,  0.        ],
       [-0.28571429, -0.24242424,  0.4       , ...,  0.        ,
         1.        ,  0.        ],
       [ 4.57142857, -0.63636364, -0.8       , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-0.42857143,  1.87878788, -0.8       , ...,  0.        ,
         1.        ,  0.        ],
       [-0.57142857, -0.18181818,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.28571429,  1.27272727, -0.4       , ...,  0.        ,
         1.        ,  0.        ]])

## Creating pipeline and comparing different model

In [11]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

LR = LogisticRegression()

pipe_1 = make_pipeline(ct, LR)

cv_score = cross_val_score(pipe_1, X_train, y_train, cv=5, scoring='roc_auc').mean()
print("Best cross-validation score for LR: {:.4f}".format(cv_score))

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Best cross-validation score for LR: 0.9007

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
%%time
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

RFC = RandomForestClassifier(random_state =365)

params_rfc = {
    'randomforestclassifier__n_estimators': randint(10, 200),
    'randomforestclassifier__max_depth': randint(1, 20),
    'randomforestclassifier__min_samples_split': randint(2, 20),
    'randomforestclassifier__min_samples_leaf': randint(1, 20)
    }
pipe_2 = make_pipeline(ct, RFC)

rand_search_1 = RandomizedSearchCV(pipe_2, params_rfc, n_iter=10, cv=5, scoring='roc_auc', random_state=365)

rand_search_1.fit(X_train, y_train)

print("Best parameters found for RFC: ", rand_search_1.best_params_)
print("Best cross-validation score for RFC: {:.4f}".format(rand_search_1.best_score_))

Best parameters found for RFC:  {'randomforestclassifier__max_depth': 12, 'randomforestclassifier__min_samples_leaf': 1, 'randomforestclassifier__min_samples_split': 6, 'randomforestclassifier__n_estimators': 188}
Best cross-validation score for RFC: 0.9357
CPU times: user 3min 16s, sys: 379 ms, total: 3min 17s
Wall time: 3min 17s

In [13]:
%%time
from xgboost import XGBClassifier
from scipy.stats import uniform
XGBC = XGBClassifier(random_state=365)

params_xgbc = {
        'xgbclassifier__n_estimators': randint(50, 200),
    'xgbclassifier__max_depth': randint(3, 10),
    'xgbclassifier__learning_rate': uniform(0.01, 0.3),
    'xgbclassifier__subsample': uniform(0.6, 0.4),
    'xgbclassifier__colsample_bytree': uniform(0.6, 0.4)
    }

pipe_3 = make_pipeline(ct, XGBC)

rand_search_2 = RandomizedSearchCV(pipe_3, params_xgbc, n_iter=10, cv=5, scoring='roc_auc', random_state=365)

rand_search_2.fit(X_train, y_train)

print("Best parameters found for XGBC: ", rand_search_2.best_params_)
print("Best cross-validation score for XGBC: {:.4f}".format(rand_search_2.best_score_))

Best parameters found for XGBC:  {'xgbclassifier__colsample_bytree': 0.9949388447203451, 'xgbclassifier__learning_rate': 0.12674200465810162, 'xgbclassifier__max_depth': 5, 'xgbclassifier__n_estimators': 156, 'xgbclassifier__subsample': 0.8322780125822173}
Best cross-validation score for XGBC: 0.9539
CPU times: user 2min 9s, sys: 817 ms, total: 2min 9s
Wall time: 36.5 s

## Training on best model

In [14]:
%%time
from sklearn.metrics import roc_auc_score

best_params = rand_search_2.best_params_
XGBC_best = XGBClassifier(**best_params)

pipe_best = make_pipeline(ct, XGBC_best)

pipe_best.fit(X_train, y_train)

pred_proba = pipe_best.predict_proba(X_valid)[:, 1]

roc_auc = roc_auc_score(y_valid, pred_proba)
print("ROC AUC Score for XGBC_best: {:.4f}".format(roc_auc))

/opt/conda/lib/python3.10/site-packages/xgboost/core.py:160: UserWarning: [02:47:11] WARNING: /workspace/src/learner.cc:742:
Parameters: { "xgbclassifier__colsample_bytree", "xgbclassifier__learning_rate", "xgbclassifier__max_depth", "xgbclassifier__n_estimators", "xgbclassifier__subsample" } are not used.

  warnings.warn(smsg, UserWarning)

ROC AUC Score for XGBC_best: 0.9563
CPU times: user 2.14 s, sys: 10.9 ms, total: 2.15 s
Wall time: 619 ms

In [15]:
pipe_best.fit(X,y)
test = test_df.drop(['id'], axis=1)
test_pred_proba = pipe_best.predict_proba(test)[:, 1]

/opt/conda/lib/python3.10/site-packages/xgboost/core.py:160: UserWarning: [02:47:11] WARNING: /workspace/src/learner.cc:742:
Parameters: { "xgbclassifier__colsample_bytree", "xgbclassifier__learning_rate", "xgbclassifier__max_depth", "xgbclassifier__n_estimators", "xgbclassifier__subsample" } are not used.

  warnings.warn(smsg, UserWarning)

In [16]:
submission = pd.read_csv('/kaggle/input/playground-series-s4e10/sample_submission.csv')
submission['loan_status'] = test_pred_proba
submission.head(5)

      id  loan_status
0  58645     0.998929
1  58646     0.012532
2  58647     0.751079
3  58648     0.007463
4  58649     0.042223

In [17]:
submission.to_csv("submission.csv", index=False)